@import "../../style/abstract/var";

input,
textarea,
select {
    padding: 15px;
    background-color: transparent;
    height: auto;
    transition: all 1s, height 0s, width 0s;

    &:focus {
        outline-color: rgba($primary-accent-color, 0.4);
        outline-width: 5px;
        outline-style: solid;
        border-radius: $border-radius;
    }
}

input[type="text"],
input[type="phone"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="date"],
input[type="search"] {
}

input[type="number"] {
    &::-webkit-inner-spin-button {
        width: 30px;
        height: 30px;
        padding: 5px;
        transform: rotate(90deg);
        cursor: pointer;
    }
}

input[type="color"] {
    padding: 5px;

    &::-webkit-color-swatch {
        border-radius: $border-radius;
        border: none;
        margin: 0;
        height: 100%;
        width: 100%;
    }
}

input[type="file"] {
    &::-webkit-file-upload-button {
        display: none;
    }
}

input[type="range"] {
    accent-color: $primary-accent-color;
    padding: 0;
    border-radius: 0;
    border: none;

    &:hover,
    &:focus {
        color: unset;
        background: none;
        text-shadow: none;
        box-shadow: none;
    }

    &::-webkit-slider-runnable-track,
    &::-moz-range-track {
        -webkit-appearance: none !important;
        cursor: pointer;
        background: none;
        background-color: $light-color;
        transition: 0.5s;
    }

    &::-webkit-slider-thumb,
    &::-moz-range-thumb {
        -webkit-appearance: none !important;
        cursor: pointer;
        background: none;
        background-color: $primary-accent-color;
        border-radius: 0;
        transition: 0.5s;
    }
}

select {
    option {
        background-color: $dark-color;

        &:checked {
            background-color: $primary-accent-color;
        }
    }

    optgroup {
        background-color: $dark-color;

        option {
            background-color: $dark-color;
        }
    }
}

.input-group {
    margin: 10px;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    width: auto;
    height: auto;
    box-sizing: border-box;
    border-radius: $border-radius;
    border: 2px solid rgba($light-grey-color, 0.2);
    flex: 1;
    transition: 1s;

    &:hover {
        box-shadow: 0 0 100px 0 rgba($light-color, 0.2);
    }

    .input-addon {
        background-color: transparent;
        padding: 15px;
        display: flex;
        align-items: center;
    }

    input {
        flex: auto;
    }
}

.label-container {
    margin: 10px;
    display: flex;

    input[type="checkbox"],
    input[type="radio"] {
        accent-color: $primary-accent-color;
        min-height: 30px;
        min-width: 30px;

        &:focus {
            outline: none;
        }
    }

    input,
    span {
        padding: 5px;
    }
}

.text-area {
    margin: 10px;
    display: flex;
    flex-direction: column;
    height: auto;
    border-radius: $border-radius;
    border: 2px solid rgba($light-grey-color, 0.2);
    transition: 1s;

    &:hover {
        box-shadow: 0 0 100px 0 rgba($light-color, 0.2);
    }

    .text-area-title {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        width: 100%;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;

        .input-addon {
            padding: 15px;
            display: flex;
        }
    }

    textarea {
        border-radius: $border-radius;
        border-top: 0;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        resize: vertical;
        width: 100%;
    }
}

@media screen and (max-width: 700px) {
    input,
    textarea,
    select {
        padding: 10px;
    }

    .input-group {
        margin: 5px;

        .input-addon {
            padding: 10px;
        }
    }

    .text-area {
        margin: 5px;
    }
}

@media (prefers-color-scheme: light) {
    select {
        option {
            background-color: $light-color;
        }

        optgroup {
            background-color: $light-color;

            option {
                background-color: $light-color;
            }
        }
    }

    .input-group {
        border: 2px solid rgba($dark-grey-color, 0.2);

        &:hover {
            box-shadow: 0 0 100px 0 rgba($dark-color, 0.5);
        }
    }

    .text-area {
        border: 2px solid rgba($dark-grey-color, 0.2);

        &:hover {
            box-shadow: 0 0 100px 0 rgba($dark-color, 0.5);
        }
    }
}