@import "../../style/abstract/var";

@mixin input-group-child {
    &:last-child {
        margin-left: -1px;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }

    &:first-child {
        margin-right: -1px;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }

    &:not(:first-child):not(:last-child) {
        margin-left: 0;
        margin-right: 0;
        border-radius: 0;
    }
}

input, textarea, select {
    padding: 15px;
    color: $light-color;
    background-color: $dark-color;
    border-radius: $border-radius;
    border: 2px solid rgba($light-color, 0.2);
    height: auto;
	transition: all 1s, height 0s, width 0s;

    &:hover, &:focus {
	    box-shadow: 0 0 100px 0 rgba($light-color, 0.2);
    }

    &:focus {
        outline-color: $primary-accent-color;
        outline-width: 3px;
        outline-style: solid;
        outline-offset: -1px;
    }
}

fieldset {
    padding: 15px;
    border-radius: $border-radius;
    border: 2px solid rgba($light-color, 0.2);
    margin: 10px;

    legend {
        padding: 10px;
        border-radius: $border-radius;
        border: 2px solid rgba($light-color, 0.2);
    }
}

// Checkbox and Radio
.label-container {
    margin: 10px;
    display: flex;

    input[type=checkbox], input[type=radio] {
        accent-color: $primary-accent-color;
        min-height: 25px;
        min-width: 25px;
    }

    input, span {
        padding: 5px;
    }
}

input[type=range] {
    accent-color: $primary-accent-color;
    padding: 0;
    border-radius: 0;
    border: none;

    &:hover, &:focus {
        color: unset;
        background: none;
	    text-shadow: none;
	    box-shadow: none;
    }

    &::-webkit-slider-runnable-track, &::-moz-range-track {
        -webkit-appearance: none !important;
        cursor: pointer;
        background: none;
        background-color: $light-color;
        transition: 0.5s;
    }

    &::-webkit-slider-thumb, &::-moz-range-thumb {
        -webkit-appearance: none !important;
        cursor: pointer;
        background: none;
        background-color: $primary-accent-color;
        border-radius: 0;
        transition: 0.5s;
    }
}