@import "./style/_input.scss";
@import "../../style/abstract/var";

input[type="text"],
input[type="phone"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="date"],
input[type="search"] {
}

input[type="number"] {
    &::-webkit-inner-spin-button {
        width: 30px;
        height: 30px;
        padding: 5px;
        transform: rotate(90deg);
        cursor: pointer;
    }
}

input[type="color"] {
    padding: 0;

    &::-webkit-color-swatch {
        border-radius: $border-radius;
        border: none;
        margin: 0;
        height: 100%;
        width: 100%;
    }
}

input[type="file"] {
    &::-webkit-file-upload-button {
        display: none;
    }
}

input[type="range"] {
    accent-color: $primary-accent-color;
    padding: 0;
    border-radius: 0;
    border: none;

    &:hover,
    &:focus {
        color: unset;
        background: none;
        text-shadow: none;
        box-shadow: none;
    }

    &::-webkit-slider-runnable-track,
    &::-moz-range-track {
        -webkit-appearance: none !important;
        cursor: pointer;
        background: none;
        background-color: $light-color;
        transition: 0.5s;
    }

    &::-webkit-slider-thumb,
    &::-moz-range-thumb {
        -webkit-appearance: none !important;
        cursor: pointer;
        background: none;
        background-color: $primary-accent-color;
        border-radius: 0;
        transition: 0.5s;
    }
}

select {
    option {
        background-color: rgba($dark-color, 0.4);
    }

    option:checked {
        background-color: $primary-accent-color;
    }

    optgroup {
        background-color: rgba($dark-color, 0.4);
        option {
            background-color: rgba($dark-color, 0.4);
        }
    }
}

.label-container {
    display: flex;

    input[type=checkbox], input[type=radio] {
        accent-color: $primary-accent-color;
        min-height: 25px;
        min-width: 25px;
    }

    input, span {
        padding: 5px;
    }
}

.text-area {
    margin: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;

    .text-area-title {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        border-radius: $border-radius;
        border: 2px solid rgba($light-grey-color, 0.2);
        width: 100%;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;

        .input-addon {
            @include input-group-child();
            padding: 15px;
            display: flex;

            &:first-child {
                border-right: 2px solid rgba($light-color, 0.2);
            }
        }
    }

    .text-box {
        position: relative;

        textarea {
            border-radius: $border-radius;
            border-top: 0;
            border-top-right-radius: 0;
            border-top-left-radius: 0;
            resize: vertical;
            box-sizing: border-box;
            width: 100%;
        }

        button {
            position: absolute;
            bottom: 17px;
            right: 10px;
        }
    }
}
