//Font
$primary-font: 'Ubuntu', sans-serif;
$primary-font-size: large;

//Color
$primary-dark-color: #101010;
$secondary-dark-color: #202020;
$primary-light-color: #dddddd;
$secondary-light-color: #fefefe;
$primary-accent-color: #9500ff;
$secondary-accent-color: #ea00ff;

//Font size
$text-font-size: 100%;

//Radius
$border-radius: 15px;
$hover-border-radius: 20px;