//Font
$primary-font: 'Ubuntu', sans-serif;
$primary-font-size: large;

//Color
$primary-accent-color: #9500ff;
$secondary-accent-color: #ea00ff;
$dark-color: #1a1a1a;
$dark-grey-color: #333333;
$light-grey-color: #aaaaaa;
$light-color: #eeeeee;

//Font size
$text-font-size: 100%;

//Radius
$border-radius: 15px;
$hover-border-radius: 20px;