@import 'tailwindcss';

#print-area {
    display: none;
}

@media print {
    #no-print {
        display: none;
    }

    #print-area {
        display: block;
    }

    body {
        background-color: white;
        margin: 0;
        padding: 0;
    }
}

@page {
    margin: 0.2in;
    size: A4;
    margin: 0;
}

:root {
    background-color: white;
    color: #080808;
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        background-color: black;
        color: #eeeeee;
    }
}

body,
div,
header,
main,
footer,
nav {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

img,
video {
  height: auto;
  max-width: 100%;
}

body {
  /* Font */
  font-size: 100%;

  /* Scrollbar */
  -ms-overflow-style: none;
  scrollbar-width: none;
}