@tailwind base;
@tailwind components;
@tailwind utilities;

#print-area {
    display: none;
}

@media print {
    #no-print {
        display: none;
    }

    #print-area {
        display: block;
    }

    body {
        background-color: white;
        margin: 0;
        padding: 0;
    }
}

@page {
    margin: 0.2in;
    size: A4;
    margin: 0;
}

/* Reset CSS */
* {
    color: unset;
    background-color: unset;
    margin: 0;
    padding: 0;
    box-sizing: unset;
    font-family: unset;
    border: 0 none;
    vertical-align: baseline;
    font-size: unset;
}

:root {
    background-color: white;
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        background-color: black;
    }
}

html,
body {
    min-height: 100vh;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body,
div,
header,
main,
footer,
nav {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

img,
video {
    height: auto;
    max-width: 100%;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
    font-size: 100%;
    font-weight: normal;
}

/* Global styles */
body {
    /* Font */
    font-size: 100%;

    /* Scrollbar */
    -ms-overflow-style: none;
    scrollbar-width: none;
}

h1 {
    font-size: 3em;
    font-weight: bold;
}

h2 {
    font-size: 2em;
    font-weight: bold;
}

h3 {
    font-size: 1.5em;
    font-weight: bold;
}

h4 {
    font-size: 1.3em;
    font-weight: bold;
}

a {
    color: #6d28d9;
    transition: 1s;

    &:hover {
        color: #be185d;
        text-shadow: 0 0 20px #ffffff82;
        text-decoration: underline;
    }
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 2em;
        font-weight: bold;
    }

    h2 {
        font-size: 1.5em;
        font-weight: bold;
    }

    h3 {
        font-size: 1.2em;
        font-weight: bold;
    }

    h4 {
        font-size: 1em;
        font-weight: bold;
    }
}

.content {
    padding: 5vw;

    section {
        padding: 4vw;
        padding-top: 15vw;
        padding-bottom: 15vw;
    }
}