@import 'tailwindcss';

#print-area {
    display: none;
}

@media print {
    #no-print {
        display: none;
    }

    #print-area {
        display: block;
    }

    body {
        background-color: white;
        margin: 0;
        padding: 0;
    }
}

@page {
    margin: 0.2in;
    size: A4;
    margin: 0;
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        background-color: black;
    }
}