@import "../../style/abstract/var";

.details {
    display: flex;
    flex-direction: column;

    .summary {
        color: $primary-accent-color;

        transition: color 0.5s;

        &:hover {
            color: $secondary-accent-color;
        }
    }
}