@import "../../style/abstract/var";
@import "../../style/abstract/mixin";

.modal {
    position: fixed;
    display: flex;
    box-sizing: border-box;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgba($secondary-dark-color, 0.7);
    @include acrylic;
}

.modal-content {
    background-color: $primary-dark-color;
    box-sizing: border-box;
    margin: auto;
    padding: 20px;
    border-radius: $border-radius;
    box-shadow: 0 0 100px 0 rgba($secondary-light-color, 0.2);
    width: 80%;
    height: 80%;
}

.modal-body {
    width: 100%;
    height: 100%;
}

.modal-header {
    display: flex;
    align-content: center;
    align-items: center;
}

.modal-title {
    margin-left: 20px;
    font-size: xx-large;
    font-weight: bold;
}

@media (prefers-color-scheme: light) {
    .modal {
        background-color: rgba($primary-light-color, 0.7);;
    }

    .modal-content {
        background-color: $secondary-light-color;
        box-shadow: 0 0 100px 0 rgba($primary-dark-color, 0.2);
    }
}
