@import '../../../style/abstract/var';

.button {
    color: $light-color;
    background-color: transparent;
    display: inline-block;
    border-radius: $border-radius;
    border: 2px solid $primary-accent-color;
    padding: 15px;
    margin: 5px;
    transition: 1s;

    &:hover, &:focus {
        background-color: $primary-accent-color;
        box-shadow: 0 0 100px 0 rgba($light-color, 0.2);
    }

    &:disabled {
        color: rgba($light-color, 0.2);
        border: 2px solid rgba($primary-accent-color, 0.2);

        &:hover, &:focus {
            background-color: transparent;
            box-shadow: none;
        }
    }
}

@media (prefers-color-scheme: light) {
    .button {
        color: $dark-color;

        &:hover, &:focus {
            color: $dark-color;
        }
    }
}