@import '../../../style/abstract/var';

.button {
    color: $secondary-light-color;
    background-color: transparent;
    display: inline-block;
    border-radius: $border-radius;
    border: 2px solid $primary-accent-color;
    padding: 15px;
    margin: 5px;
    transition: 1s;

    &:hover, &:focus {
        background-color: $primary-accent-color;
        box-shadow: 0 0 100px 0 rgba($secondary-light-color, 0.3);
    }

    &:disabled {
        color: rgba($secondary-light-color, 0.2);
        border: 2px solid rgba($primary-accent-color, 0.2);

        &:hover, &:focus {
            background-color: transparent;
            box-shadow: none;
        }
    }
}

@media screen and (max-width: 700px) {
    .button {
        padding: 10px;
        margin: 5px;
    }
}

@media (prefers-color-scheme: light) {
    .button {
        color: $primary-dark-color;

        &:hover, &:focus {
            color: $primary-dark-color;
            box-shadow: 0 0 100px 0 rgba($primary-dark-color, 0.5);
        }

        &:disabled {
            color: rgba($primary-dark-color, 0.2);
            border: 2px solid rgba($primary-accent-color, 0.2);
        }
    }
}