@import "./_input.scss";

fieldset {
    padding: 15px;
    border-radius: $border-radius;
    border: 2px solid rgba($light-color, 0.2);
    margin: 10px;

    legend {
        padding: 10px;
        border-radius: $border-radius;
        border: 2px solid rgba($light-color, 0.2);
    }
}