@import "../../../style/abstract/var";

fieldset {
    padding: 15px;
    border-radius: $border-radius;
    border: 2px solid rgba($primary-light-color, 0.2);
    margin: 10px;

    legend {
        padding: 10px;
        border-radius: $border-radius;
        border: 2px solid rgba($primary-light-color, 0.2);
    }
}

@media (prefers-color-scheme: light) {
    fieldset {
        border: 2px solid rgba($secondary-dark-color, 0.2);

        legend {
            border: 2px solid rgba($secondary-dark-color, 0.2);
        }
    }
}