@import "../../../style/abstract/var";
@import "../../../style/abstract/mixin";

.input-group {
    margin: 10px;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    width: auto;
    height: auto;
    box-sizing: border-box;
    flex: 1;

    .input-addon {
        @include input-group-child();
        background-color: $dark-color;
        padding: 15px;
        border-radius: $border-radius;
        border: 2px solid rgba($light-grey-color, 0.2);
        display: flex;
    }

    input {
        flex: auto;
    }

    input,
    button,
    textarea,
    select {
        @include input-group-child();
    }
}

input,
textarea,
select {
    padding: 15px;
    color: $light-color;
    background-color: $dark-color;
    border-radius: $border-radius;
    border: 2px solid rgba($light-grey-color, 0.2);
    height: auto;
    transition: all 1s, height 0s, width 0s;

    &:hover,
    &:focus {
        box-shadow: 0 0 100px 0 rgba($light-color, 0.2);
    }

    &:focus {
        outline-color: $primary-accent-color;
        outline-width: 3px;
        outline-style: solid;
        outline-offset: -1px;
    }
}

@media screen and (max-width: 700px) {
    input,
    textarea,
    select {
        padding: 10px;
    }

    .input-group {
        margin: 5px;

        .input-addon {
            padding: 10px;
        }
    }
}

@media (prefers-color-scheme: light) {
    .input-group {
        .input-addon {
            background-color: $light-color;
        }
    }

    input,
    button,
    textarea,
    select {
        color: $dark-color;
        background-color: $light-color;
    }
}
