@import './input.scss';

.text-area {
    margin: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;

    .text-area-title {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        border-radius: $border-radius;
        border: 2px solid rgba($light-grey-color, 0.2);
        width: 100%;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;

        .input-addon {
            @include input-group-child();
            padding: 15px;
            display: flex;

            &:first-child {
                border-right: 2px solid rgba($light-color, 0.2);
            }
        }
    }

    .text-box {
        position: relative;

        textarea {
            border-radius: $border-radius;
            border-top: 0;
            border-top-right-radius: 0;
            border-top-left-radius: 0;
            resize: vertical;
            box-sizing: border-box;
            width: 100%;
        }

        button {
            position:absolute;
            bottom:17px;
            right:10px;
        }
    }
}