//Import variables
@import "./style/abstract/var";

#root {
  max-width: 1280px;
  margin: 2vw auto;
  padding: 2rem;
}

.section {
  background-color: $dark-color;
  border-radius: $border-radius;
  margin: 2vw auto;
  padding: 2rem;
}

@media screen and (max-width: 700px) {
  #root {
    padding: 0;
  }

  .section {
    border-radius: 0;
    padding: 1rem;
  }

  .title {
    font-size: 2rem;
  }
}

@media (prefers-color-scheme: light) {
  .section {
    background-color: $light-color;
  }
}