//Import variables
@import "./style/abstract/var";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.app {
  background-color: $dark-color;
  border-radius: $border-radius;
  padding: 2rem;
}

@media (prefers-color-scheme: light) {
  .app {
    background-color: $light-color;
  }
}